# Verification

This file records ad-hoc verifications.
